| Hello #{name},
| 
| We received a request to reset your #{brand} password. Click the link below to choose a new one:
| 
| #{password_reset_form}
| 
| If you don’t use this link within 3 hours, it will expire. To get a new password reset link, visit #{password_reset_url}
