server {
  if ($host = img.build.pm) {
    return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name img.build.pm;
    return 404; # managed by Certbot
  }

  server {
    client_max_body_size 1k;

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/tape.build.pm/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/tape.build.pm/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    access_log /var/log/nginx/img.build.pm.access.log;
    error_log /var/log/nginx/img.build.pm.error.log;

    root /home/user/tape/frontend/public/uploads;
    server_name img.build.pm;
    index index.html;
    location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
      expires 1M;
      access_log off;
      add_header Cache-Control "public";
    }
  }
