| Hello #{name},
| 
| We wanted to let you know that the password to your #{brand} account was changed.
| 
| If you did not perform this action, you can recover access by entering your email into the form at #{password_reset_url}
| 
| If you run into problems, please contact support by visiting #{contacts_url}
| 
| Please do not reply to this email with your password. We will never ask for your password, and we strongly discourage you from sharing it with anyone.
