// Override default variables before the import
$body-bg: #fff;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji' !default;

$gray-150: #f0f2f8 !default;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@import './tape';
@import './typing';
@import './spinner';
@import './skeleton';
@import './figure';
@import './variables';
@import './error';
